In [7]:
#Exercício 1
nome1 = input("Digite o 1º \n nome: ")
id1 =  int(input(f"Digite a idade {nome1}"))
nome2 = input("Digite o 2º nome ")
id2 = int(input(f"Digite a idade {nome2}"))
print(f"{nome1} tem {id1} anos")
print(f"{nome2} tem {id2} anos")

Digite o 1º
 nome: nathalia
Digite a idade nathalia30
Digite o 2º nome maria
Digite a idade maria15
nathalia tem 30 anos
maria tem 15 anos

In [ ]:
#Exercício 2
nome1 = input("Digite o 1 \n nome: \n")
id1 =  float(input(f"Digite a altura do \n{nome1}"))
nome2 = input("Digite o 2 nome \n")
id2 = float(input(f"Digite a altura \n {nome2}"))
if (id1> id2):
    print(f"{nome1} é mais alto que \n{nome2}")
elif(id2> id1):
    print(f"{nome2} é mais alto que \n {nome1}")
else:
    print(f"{nome1} e {nome2} tem a mesma altura!")

Digite o 1
 nome:
nathalia
Digite a altura do
nathalia1.59
Digite o 2 nome
maria
Digite a altura
 maria2.0
maria é mais alto que
 nathalia

In [18]:
#Exercício 3
nota1 = float(input(f"Digite a nota 1 "))
nota2 = float(input(f"Digite a nota 2 "))
nota3 = float(input(f"Digite a nota 3 "))

media = ((nota1+nota2+nota3)/3)
if (media>= 7.5):
  print("Foi aprovado!")
else:
  print("Foi reprovado =/")

Digite a nota 1 7.9
Digite a nota 2 6.7
Digite a nota 3 8.2
Foi aprovado!