<a href="https://colab.research.google.com/github/NathaliaRezende1/NathaliaRezende1/blob/main/Python_Exercicios_Lista%2C_Tupla_e_Dicionario.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='blue'>Senai Ribeirão Preto</font>

## <font color='blue'>FUNDAMENTOS DE BIG DATA E DATA ANALYTICS COM PYTHON</font>

## <font color='blue'>Introdução à linguagem Python</font>

## <font color='blue'>Exercícios - Lista, Tupla e Dicionário</font>

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.8.8

![pyhton](imagens/senai_python.png)

## Exercícios

In [2]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
lista_1 = ["1,2,3,4,5,6,7,8,9,10"]
lista_1

['1,2,3,4,5,6,7,8,9,10']

In [3]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
lista_2=[1,"nathalia",3,"ribeirão preto","senai",5]
lista_2

[1, 'nathalia', 3, 'ribeirão preto', 'senai', 5]

In [6]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
lista1 = ["Ribeirão Preto", "São Paulo"]
lista2 = ["Belo Horizonte"]
lista_total = lista1+lista2
lista_total

['Ribeirão Preto', 'São Paulo', 'Belo Horizonte']

In [13]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tupla_1 = (1, 2, 2, 3, 4, 4, 4, 5 )
tupla_1.count(4)

3

In [15]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
dic1= {}
dic1

{}

In [16]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dic1 = {"Nathalia":30, "Maria":20, "João":50}
dic1

{'Nathalia': 30, 'Maria': 20, 'João': 50}

In [17]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
dic2 = {"Pedro":5,"Carla":70,"Tereza":80}
dic2

{'Pedro': 5, 'Carla': 70, 'Tereza': 80}

In [19]:
dic1.update(dic2)
dic1

{'Nathalia': 30,
 'Maria': 20,
 'João': 50,
 'Pedro': 5,
 'Carla': 70,
 'Tereza': 80}

In [27]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores.
# Um dos valores deve ser uma lista de 2 elementos numéricos.
# Imprima o dicionário na tela.
dic3 = {"Ana":3,"Chave":[1,2], "João":8}
dic3

{'Ana': 3, 'Chave': [1, 2], 'João': 8}

In [29]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string,
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e
# o quarto elemento um valor do tipo float.
# Imprima a lista.
listan =["Nathalia",(1,2),{"Natalia":30, "Joana":5},2.8]
listan

['Nathalia', (1, 2), {'Natalia': 30, 'Joana': 5}, 2.8]

In [24]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
frase[1:18]

'ientista de Dados'

# Fim